.bg-primary-color {
  @apply bg-primary
}
.bg-primary-color-light {
  @apply bg-primary-light
}
.bg-primary-color-dark {
  @apply bg-primary-dark
}
.text-primary-color {
  @apply text-primary
}
.text-primary-color-light {
  @apply text-primary-light
}
.text-primary-color-dark {
  @apply text-primary-dark
}
.btn-primary-color {
  @apply btn-primary
}
.btn-primary-color-light {
  @apply btn-primary-light
}
.btn-primary-color-dark {
  @apply btn-primary-dark
}

.bg-secondary-color {
  @apply bg-secondary
}
.bg-secondary-color-light {
  @apply bg-secondary-light
}
.bg-secondary-color-dark {
  @apply bg-secondary-dark
}
.text-secondary-color {
  @apply text-secondary
}
.text-secondary-color-light {
  @apply text-secondary-light
}
.text-secondary-color-dark {
  @apply text-secondary-dark
}
.btn-secondary-color {
  @apply btn-secondary
}
.btn-secondary-color-light {
  @apply btn-secondary-light
}
.btn-secondary-color-dark {
  @apply btn-secondary-dark
}

.bg-tertiary-color {
  @apply bg-tertiary
}
.bg-tertiary-color-light {
  @apply bg-tertiary-light
}
.bg-tertiary-color-dark {
  @apply bg-tertiary-dark
}
.text-tertiary-color {
  @apply text-tertiary
}
.text-tertiary-color-light {
  @apply text-tertiary-light
}
.text-tertiary-color-dark {
  @apply text-tertiary-dark
}
//  .btn-tertiary-color {
//    @apply btn-tertiary
//  }
//  .btn-tertiary-color-light {
//    @apply btn-tertiary-light
//  }
//  .btn-tertiary-color-dark {
//    @apply btn-tertiary-dark
//  }

//  .bg-success-color {
//    @apply bg-success
//  }
//  .text-success-color {
//    @apply text-success
//  }
//  .btn-success-color {
//    @apply btn-success
//  }
//  .bg-danger-color {
//    @apply bg-danger
//  }
//  .text-danger-color {
//    @apply text-danger
//  }
//  .btn-danger-color {
//    @apply btn-danger
//  }