@import "variables";

@tailwind base;
@tailwind components;

@import "fonts/fontawesome";
@import "fonts/assistant";
@import "fonts/opensans";

@import "base/global";
@import "base/typography";
@import "base/buttons";
@import "base/images";
@import "base/forms";

@import "components/content";
@import "components/header";
@import "components/navigation";
@import "components/banner";
@import "components/program";
@import "components/speakers";
@import "components/register";
@import "components/sponsoren";
@import "components/referenties";
@import "components/cta";
@import "components/nav-mobile";
@import "components/footer";
@import "components/video-container";
@import "components/wpcf7";
@import "components/swiper";
@import "components/faq";
@import "components/custom_tailwind";

@tailwind utilities;

@import "_fix_colors";
