.checkout-button {
	@apply btn-secondary;
	
	br {
		display: none;
	}
}

.woocommerce_checkout_place_order {
	@apply btn-secondary;
}

a.remove {
	@apply text-center #{!important};
}

form.checkout {
	.woocommerce-billing-fields > h3::before {
		content: "1"
	}
	
	h3#ship-to-different-address,
	.woocommerce-additional-fields > h3 {
		&::before {
			content: "2";
		}
	}
	
	.woocommerce-additional-fields > h3 {
		@apply mb-3;
	}
	
	h3#order_review_heading {
		@apply mb-8;
		
		&::before {
			content: "3";
		}
	}
	
	h3 {
		@apply h5;
		
		&::before {
			@apply bg-black text-white rounded-full px-4 py-2 mr-4;
		}
	}
	
	#ship-to-different-address {
		@apply pb-3;
		
		label br {
			display: none;
		}
	}
}

.woocommerce-account-fields {
	@apply pb-2;
	
	label br {
		display: none;
	}
}

.woocommerce-terms-and-conditions-wrapper,
.woocommerce-account-fields {
	input[type="checkbox"] {
		display: inline-block !important;
	}
}


#payment {
	@apply bg-white #{!important};
	
	.payment_box {
		@apply bg-green-50 #{!important};

		&::before {
			@apply border-b-green-50 #{!important};
		}
	}
}

body > span.select2-container { //This holds the searchable select field.
	@apply text-base;
	
	.select2-results {
		ul {
			.select2-results__option--highlighted {
				@apply bg-primary;
			}
		}
	}
}