.cart-title {
	@apply pb-12;
}

.checkout-button {
	@apply btn-secondary text-white hover:text-white #{!important};
	
	br {
		display: none;
	}
}

.woocommerce_checkout_place_order {
	@apply btn-secondary;
}

.product-remove {
	a.remove {
		@apply text-center text-white #{!important};
		@apply text-31 w-10 h-10 leading-10 no-underline bg-primary;
		
		&:hover {
			@apply bg-black #{!important};
		}
	}
}

#coupon_code {
	width: 160px !important;
}

table.shop_table {
	@apply border-collapse border-0 rounded-none shadow-none #{!important};

	a, strong, td {
		@apply text-base;
	}
	
	th, td {
		@apply border-r-0 border-t-0 #{!important};
	}
	
	thead {
		@apply bg-white;
	}
	
	tbody, tfoot {
		tr:nth-child(even) { //2,4, etc (0 is not a row)
		}
		tr:nth-child(odd) { //1,3, etc
			@apply bg-tertiary;
		}
	}
	
	tfoot {
		//@apply bg-white #{!important}; //bg-tertiary
		
		tr:first-of-type {
			@apply border-t border-t-primary #{!important};
		}
	}
	
	.woocommerce-cart-form__cart-item {
		.product-quantity {
			br {
				display: none;
			}
		}
	}
	
	li label {
		@apply font-normal;
	}
}

form.checkout {
	.woocommerce-billing-fields > h3::before {
		content: "1"
	}
	
	h3#ship-to-different-address,
	.woocommerce-additional-fields > h3 {
		&::before {
			content: "2";
		}
	}
	
	.woocommerce-additional-fields > h3 {
		@apply mb-3;
	}
	
	h3#order_review_heading {
		@apply mb-8;
		
		&::before {
			content: "3";
		}
	}
	
	h3 {
		@apply h5;
		
		&::before {
			@apply bg-black text-white rounded-full px-4 py-2 mr-4;
		}
	}
	
}

.woocommerce-form-coupon,
.woocommerce-account-fields,
#ship-to-different-address {
	@apply pb-3;
	
	br {
		display: none;
	}
}

.woocommerce-terms-and-conditions-wrapper,
.woocommerce-account-fields {
	input[type="checkbox"] {
		display: inline-block !important;
	}
}


#payment {
	@apply bg-white #{!important};
	
	.payment_box {
		@apply bg-green-50 #{!important};

		&::before {
			@apply border-b-green-50 #{!important};
		}
	}
}

#payment,
table.shop_table,
.woocommerce-thankyou-order-details {
	li::before { //hide the list dots.
		display:none;
	}
}

body > span.select2-container { //This holds the searchable select field.
	@apply text-base;
	
	.select2-results {
		ul {
			.select2-results__option--highlighted {
				@apply bg-primary;
			}
		}
	}
}

//Not really part of the checkout, but you can only visit this page after completing an order.
.woocommerce-thankyou-order-details {
	@apply ml-4 mb-8 #{!important};
	
	&::before {
		@apply pl-4;
	}
	
	li {
		@apply text-base normal-case #{!important};
		
		strong {
			@apply text-21 #{!important};
		}
	}
}
