.checkout-button {
	@apply btn-secondary;
	
	br {
		display: none;
	}
}

.woocommerce_checkout_place_order {
	@apply btn-secondary;
}


form.checkout {
	
	input[type="text"], input[type="tel"], input[type="email"], textarea, .select2-selection {
		@include form-field;
	}
	
		
		}
	}
	
	textarea {
		@apply mt-1;
		height: 9rem !important;
	}
	
	::placeholder {
		@apply text-base text-gray-400;
	}
	
	input[type="checkbox"] {
		&:checked, &:hover {
			@apply bg-primary;
		}
	}
	
	.woocommerce-terms-and-conditions-wrapper {
		input[name="terms-field"] {
		
		}
	}
	
	h3 {
		@apply h5;
		
		&::before {
			@apply bg-black text-white rounded-full px-4 py-2 mr-4;
		}
	}
	
	#ship-to-different-address {
		@apply pb-3;
		
		label br {
			display: none;
		}
	}

	.woocommerce-billing-fields > h3::before {
		content: "1"
	}
	
	h3#order_review_heading {
		@apply mb-8;
		
		&::before {
			content: "2";
		}
	}
	
}
