.woocommerce-breadcrumb {
	@apply text-base text-white mt-6 #{!important};
	
	a {
		@apply text-white #{!important};
	}
	
	.breadcrumb-separator {
		@apply mx-2;
	}
}

.woocommerce-navigation {
	@apply bg-blue-500 text-red-500 text-41 #{!important}
}

.woocommerce {
	nav.woocommerce-pagination {
		.page-numbers {
			@apply border-none;

			li {
				border-radius: 100px;
				border: none;
				margin: 0 .5rem;

				.page-numbers {
					background-color: rgb(243 244 246);
					&:hover {
						@apply bg-primary;
						@apply text-white;
					}
				}

				.current {
					@apply bg-primary;
					@apply text-white;
				}

				.dots {
					background-color: unset;
					&:hover {
						background-color: unset;
						color: unset;
					}
				}

				.next {
				}

				.prev {
				}

				a, span {
					width: 2em;
					height: 2em;
				}
			}
		}
	}
}







