@font-face {
  font-family: 'Dyno';
  src: url('./../../dist/fonts/DynoBold.eot');
  src: url('./../../dist/fonts/DynoBold.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/DynoBold.woff2') format('woff2'),
  url('./../../dist/fonts/DynoBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dyno';
  src: url('./../../dist/fonts/DynoRegular.eot');
  src: url('./../../dist/fonts/DynoRegular.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/DynoRegular.woff2') format('woff2'),
  url('./../../dist/fonts/DynoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

