@font-face {
  font-family: 'Hind';
  src: url('./../../dist/fonts/Hind-SemiBold.eot');
  src: url('./../../dist/fonts/Hind-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/Hind-SemiBold.woff2') format('woff2'),
  url('./../../dist/fonts/Hind-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('./../../dist/fonts/Hind-Bold.eot');
  src: url('./../../dist/fonts/Hind-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/Hind-Bold.woff2') format('woff2'),
  url('./../../dist/fonts/Hind-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('./../../dist/fonts/Hind-Regular.eot');
  src: url('./../../dist/fonts/Hind-Regular.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/Hind-Regular.woff2') format('woff2'),
  url('./../../dist/fonts/Hind-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('./../../dist/fonts/Hind-Medium.eot');
  src: url('./../../dist/fonts/Hind-Medium.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/Hind-Medium.woff2') format('woff2'),
  url('./../../dist/fonts/Hind-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

