@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-ExtraBoldItalic.eot');
  src: url('./../../dist/fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-ExtraBold.eot');
  src: url('./../../dist/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-Bold.eot');
  src: url('./../../dist/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-Bold.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-Light.eot');
  src: url('./../../dist/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-Light.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-BoldItalic.eot');
  src: url('./../../dist/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-Italic.eot');
  src: url('./../../dist/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-Italic.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-MediumItalic.eot');
  src: url('./../../dist/fonts/OpenSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-MediumItalic.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-SemiBoldItalic.eot');
  src: url('./../../dist/fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-SemiBold.eot');
  src: url('./../../dist/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-Regular.eot');
  src: url('./../../dist/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-LightItalic.eot');
  src: url('./../../dist/fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-LightItalic.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../dist/fonts/OpenSans-Medium.eot');
  src: url('./../../dist/fonts/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('./../../dist/fonts/OpenSans-Medium.woff2') format('woff2'),
  url('./../../dist/fonts/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

