@font-face {
    font-family: 'Roboto Condensed';
    src: url('./../../dist/fonts/RobotoCondensed-ExtraBold.eot');
    src: url('./../../dist/fonts/RobotoCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./../../dist/fonts/RobotoCondensed-ExtraBold.woff2') format('woff2'),
        url('./../../dist/fonts/RobotoCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./../../dist/fonts/RobotoCondensed-Bold.eot');
    src: url('./../../dist/fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../../dist/fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('./../../dist/fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./../../dist/fonts/RobotoCondensed-SemiBold.eot');
    src: url('./../../dist/fonts/RobotoCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./../../dist/fonts/RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('./../../dist/fonts/RobotoCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./../../dist/fonts/RobotoCondensed-Regular.eot');
    src: url('./../../dist/fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../../dist/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('./../../dist/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./../../dist/fonts/RobotoCondensed-Medium.eot');
    src: url('./../../dist/fonts/RobotoCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../../dist/fonts/RobotoCondensed-Medium.woff2') format('woff2'),
        url('./../../dist/fonts/RobotoCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./../../dist/fonts/RobotoCondensed-Italic.eot');
    src: url('./../../dist/fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('./../../dist/fonts/RobotoCondensed-Italic.woff2') format('woff2'),
        url('./../../dist/fonts/RobotoCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

