.banner {
  width:100%;
  h3{
    width: auto;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 3px solid white;
    margin-bottom: 2rem;
  }
  h1{
    font-size: 4rem;
  }
  .image{
    width: 75%;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    background: url('../../assets/images/banner-1.jpg') no-repeat;
    background-size: cover;
    border-radius: 0;
  }
  &:after{
    width: 100%;
    height: 100px;
    background: #212B66;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.subbanner{
  width:100%;
}

@media (max-width:1280px){

}

@media (max-width:1024px){

}

@media (max-width:768px){
  .banner h1{
    font-size: 3rem;
  }
}

@media (max-width:640px){
  .banner{
    padding: 5rem 0;
    h3{
      font-size: 1rem;
    }
    h1{
      font-size: 1.75rem;
    }
  }
}
