
// Hover for mail and phone icon in werknemers block

.block-werknemers {
  @media only screen and (min-width: 640px) {
    .contact-icon-wrapper:hover .popup,
    .mail-icon:hover .popup,
    .phone-icon:hover .popup,
    .popup:hover {
      display: block;
    }
  }
}

.popup {
  display: none;
}

.contact-icon-wrapper {
  position: relative;
}



// Custom alignment for content image in header

.block-header {
  .custom-image-width {
    width: calc(50vw - 4rem);
  }

  .align-image-left {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      left: calc(((100vw - 768px) / 2) *-1 );
    }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      left: calc(((100vw - 1024px) / 2) *-1 );
    }
    @media only screen and (min-width: 1280px) and (max-width: 1535px) {
      left: calc(((100vw - 1280px) / 2) *-1 );
    }
    @media only screen and (min-width: 1536px) {
      left: calc(((100vw - 1536px) / 2) *-1 );
    }
  }

}