.faq-drawer {
	margin-bottom: 30px;
	
	input[type="checkbox"] {
		display: none;
	}
	
	.faq-drawer__content-wrapper {
		max-height: 0;
		overflow: hidden;
		transition: 0.25s ease-in-out;
	}
	
	.faq-drawer__content {
		@apply pb-12;
	}
	
	.faq-drawer__title {
		@apply block w-full bg-black text-base text-white font-bold cursor-pointer rounded-2xl mt-6;
		
		:first-of-type {
			@apply mt-0;
		}
		
		transition: all 0.25s ease-out;
		
		&::after {
			@apply m-2;
			border-style: solid;
			border-width: 5px 5px 0 0;
			content: " ";
			display: inline-block;
			float: right;
			height: 15px;
			position: relative;
			right: 20px;
			top: -3px;
			transform: rotate(135deg);
			transition: 0.35s ease-in-out;
			vertical-align: top;
			width: 15px;
			
			@media only screen and (max-width: 600px) {
				right: -8px;
				top: -2px;
			}
			
		}
	}
	
	.faq-drawer__trigger:checked + .faq-drawer__title + .faq-drawer__content-wrapper {
		max-height: 100000px;
	}
	
	.faq-drawer__trigger:checked + .faq-drawer__title::after {
		transform: rotate(-45deg);
		transition: 0.25s ease-in-out;
		@apply border-white;
	}
	
	.faq-drawer__trigger:checked + .faq-drawer__title {
		@apply bg-primary;
	}

}

