.site-footer{
  .footer-links{
    width:100%;
    li{
      display: inline-block;
      &:after{
        position: relative;
        content: '|';
        margin: 0 1rem;
      }
      &:nth-last-child(1):after{
        display:none;
      }
    }
  }
}

.socials{
  width:100%;
  text-align: right;
  li{
    display: inline-block;
    a{
      width: 56px;
      line-height: 56px;
      display: inline-block;
    }
  }
}

@media (max-width:768px){
  .site-footer{
    text-align:center;
    .footer-links{
      li{
        width: 100%;
        &:after{
          display: none;
        }
      }
    }
  }

  .socials{
    text-align: center;
    margin-top: 2rem;
  }

}
