.intro{
  width:100%;
  &:after{
    content: '';
    width: 95%;
    height: 500px;
    position: absolute;
    top: -50px;
    left: 0;
    background: #F5F7FF;
    z-index: -1;
  }
}

@media (max-width:1280px){

}

@media (max-width:1024px){

}

@media (max-width:768px){

}

@media (max-width:640px){

}
