#mobile{
	width: 100%;
	height: 100%;
	position: fixed;
	display: inline-block;
	background-color: var(--tertiary-color);
	z-index: 300;
	right: -100%;
	top: 0;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
	nav{
		ul{
			margin:0;
			padding:0;
			li{
				width:100%;
				display: inline-block;
				margin-bottom: 2rem;
				text-align: center;
				a{
					color: white;
					font-size: 1.5rem;
				}
			}
		}
	}
}

.mobile-is-active body{
	height: 100%;
	overflow: hidden;
}

.mobile-is-active #mobile{
	right: 0;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
	overflow-x: auto;
}

.brick:after{
  width: 1000px;
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  z-index: 4;
  background-color: #FBBA0D;
}

/* Hamburger icon */

.hamburger{
  position: relative;
  z-index: 9999;
  display: none;
}

.hamburger .line{
  width: 40px;
  height: 2px;
  background: black;
  display: block;
  margin: 11px auto;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger.is-active{
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.is-active .line:nth-child(2){
  width: 0px;
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(3){
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

@media (max-width:1280px){
  .main-navigation{
    display: none !important;
  }
}

@media (max-width:992px){
	#masthead{
		z-index: 500;
	}

  .hamburger{
    display: block;
  }
  .register{
    display: none !important;
  }

	.brick:after{
		z-index: 400;
	}

}

@media (max-width:768px){}

@media (max-width:480px){}
