.main-navigation {
    .menu {
        @apply flex flex-row w-full;

        > ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @media only screen and (max-width: 1023px) {
                flex-direction: column;
            }
        }

        li {
            @apply inline-block hover:underline md:px-4; //font-bold
            padding-right: 1rem;
            @media only screen and (max-width: 1023px) {
                padding-bottom: 1rem;
            }
        }

        .menu-item-has-children {
            position: relative;

            > .sub-menu {
                display: none;
                position: absolute;

                .menu-item-has-children {
                    .sub-menu {
                        right: -100%;
                        top: 0;
                    }
                }
            }

            &:hover {
                > .sub-menu {
                    display: block;
                }
            }
        }
    }
}
