.nav-mobile-toggle-visibility {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-out;
}

.nav-mobile-toggler {
  cursor: pointer;
}

.nav-mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hamburger-button {
  .hamburger-button-bar {
    @apply bg-white;
    display: block;
    margin-bottom: 4px;
    border-radius: 10px;
    width: 20px;
    height: 3px;
    transition-property: transform, opacity, width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    &:nth-child(1) {
      transform-origin: top left;
    }

    &:nth-child(2) {
		width: 75%;
		display: flex;
		align-self: end;
    }

    &:nth-child(3) {
      transform-origin: bottom left;
      margin-bottom: 0;
    }
  }
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 11;
}

header.banner {
  //transition: background-color 200ms ease-in-out;
}

.logo-mobile, .site-title  {
  opacity: 1;
  transition: 0.2s;
}

#nav-mobile-active:checked {
  ~ .logo-mobile {
    .site-title {
      opacity: 0;
    }
  }

  ~ .nav-mobile-toggle-visibility,
  ~ .banner .nav-mobile-toggle-visibility {
    visibility: visible;
    opacity: 1;
    // Change visibility without a delay when showing (opacity already has 0s delay)
    transition-delay: 0s;
  }


  ~ header .mobile-menu {
    right: 0;
  }

  ~ .fluid-container {
    .contact-container {
      visibility: hidden;
      display: none;
    }
  }

  ~ .banner {
    .hamburger-menu {
      right: 270px;
      position: fixed;
		
		label {
			margin-right: -7px;
			padding-left: 2px;
		}
    }

    .header-logo {
      opacity: 0;
    }

    .mobile-logo {
      .header-logo {
        opacity: 100;
      }
    }
    .hamburger-button-bar {
      width: 21px;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.hamburger-menu {
	@apply bg-black rounded-full p-2;

  position: absolute;
  right: 30px;
  transition: right 300ms ease;
}

.nav-mobile {
  padding: 0 15px 0 15px;
  margin-top: 110px;
  background-color: #ffffff;
  z-index: 20;

  .nav {
    display: block;
  }
}

.mobile-menu {
  @apply bg-primary text-white;
  position: fixed;
  width: 260px;
  top: 0;
  bottom: 0;
  right: -260px;
  overflow-y: scroll;
  z-index: 1000;
  min-height: 100%;
  transition: right 300ms ease;
  color: #000;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  .menu {
    display: block;
  }

  .nav {
    display: block;
  }

  li {
    position: relative;
    display: block !important;

    &:focus,
    &:hover,
    &:active,
    &.current-menu-item {
      a {
        @apply text-primary-light font-bold;
      }
    }

    &.active {
      text-decoration: underline;
    }

    &:after {
      display: none;
      content: '\f138';
      font-family: 'Font Awesome 5 Light';
    }

    a {
      @apply text-white;
      padding: 0.5rem 0;
    }

    &:first-child {
      a {
        border-top: none;
      }
    }
  }
}
