.main-navigation {
    .menu {
        @apply flex flex-row w-full;
		margin-bottom: -25px; // to negate the .menu-item-has-children { padding-bottom }

        > ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
			
			@media only screen and (max-width: 1023px) {
                flex-direction: column;
            }
        }
	
		li {
            @apply inline-block pr-1 pb-1;
        }
		
		.current_page_item {
			>a {
				@apply font-bold text-primary-dark;
			}
			
			.sub-menu {
				@apply font-normal;
			}
		}

        .menu-item-has-children {
            position: relative;
			
			@screen lg {
				padding-bottom: 25px; // to allow someone to hover the menu, and then go down to the submenu without the latter closing
			}
			
            > .sub-menu {
				// Do something to add the triangle pointing up
				
				li {
					display: list-item !important;
					margin-left: 20px;
				}
				
				@screen lg {
					@apply shadow-lg shadow-gray-400;
					display: none; //hide when not hovered.
				
					li {
						list-style-type: none;
						margin-left: 0;
					}
				}
            }

            &:hover > .sub-menu {
				@screen lg {
					@apply bg-white rounded-xl p-3 flex flex-col;
					z-index: 66;
					width: calc(100% + 100px); // https://stackoverflow.com/questions/899107/ - This is to allow enough space for items to become bold when hovered, without it expanding the submenu width. (remove it and see what happens)
					position: absolute;
					left: -50%;
					top: 65px;
	
					.menu-item {
						width: max-content;
					}
					
					//.menu-item-has-children {
					//	.sub-menu {
					//		right: -100%;
					//		top: 0;
					//	}
					//}
					
				}
			}
        }
    }
}

.nav-links { //pagenumbers at the bottom of the news (posts) page

	a, span {
		@apply rounded-full inline-block w-12 h-12 pt-3 mr-3 text-base font-bold;
	}
	
	span.current {
		@apply bg-primary-dark text-white;
	}
	
	span.dots {
		@apply bg-gray-100 text-black;
	}
	
	a.page-numbers {
		@apply bg-gray-100 text-black hover:bg-primary-dark hover:text-white;
		@apply no-underline #{!important};
	}
	
	a.next, a.prev {
		@apply rounded-full bg-gray-100 hover:bg-primary-dark hover:text-white;
	}
	
}