.main-navigation {
    .menu {
        @apply flex flex-row w-full;
		margin-bottom: -25px; // to negate the .menu-item-has-children { padding-bottom }

        > ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
			
			@media only screen and (max-width: 1023px) {
                flex-direction: column;
            }
        }
	
		li {
            @apply inline-block pr-1 pb-1 md:px-4;
			
			&:hover {
				@apply text-primary
			}
        }
	
		.menu-item:not(.current_page_item) {
		 	>a {
				@apply font-normal no-underline #{!important};
			
			}
		}
		
		.current_page_item {
			>a {
				@apply font-bold no-underline #{!important};
			}
			
			.sub-menu {
				@apply font-normal;
			}
		}

		.home-icon {
			@screen lg {
				::before {
					@apply fa-solid fa-house #{!important};
				}
			}
		}
		
		.menu-btn {
			@screen lg {
				@apply btn btn-small btn-primary text-white hover:text-white #{!important};
			}
		}
		
        .menu-item-has-children {
            position: relative;
			
			@screen lg {
				padding-bottom: 25px; // to allow someone to hover the menu, and then go down to the submenu without the latter closing
			}
			
            > .sub-menu {
				// Do something to add the triangle pointing up
				
				li {
					display: list-item !important;
					margin-left: 20px;
				}
				
				@screen lg {
					@apply shadow-md shadow-gray-600;
					display: none; //hide when not hovered.
				
					li {
						list-style-type: none;
						margin-left: 0;
					}
				}
            }

            &:hover > .sub-menu {
				@screen lg {
					&::before { //The border is to extra accentuate the shadow.
						@apply block absolute z-0 p-2 shadow-md shadow-gray-600 border border-gray-100;
						rotate: 45deg;
						left: calc(50% - 50px);
						top: -9px;
						
						content: ""; // Important!
						-webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
						clip-path: polygon(0 100%, 0 0, 100% 0);
						background-color: #ffffff;
					}
					
					@apply bg-white rounded-xl p-3 block z-10 border border-gray-100;
					z-index: 66;
					width: calc(100% + 100px); // https://stackoverflow.com/questions/899107/ - This is to allow enough space for items to become bold when hovered, without it expanding the submenu width. (remove it and see what happens)
					position: absolute;
					left: -10%;
					top: 65px;
	
					.menu-item {
						width: max-content;
					}
					
				}
			}
        }
    }
}

.footer {
	a:hover {
		@apply no-underline text-primary;
	}
}

.nav-links { //pagenumbers at the bottom of the news (posts) page

	a, span {
		@apply rounded-full inline-block w-12 h-12 pt-3 mr-3 text-base font-bold;
	}
	
	span.current {
		@apply bg-primary text-white;
	}
	
	span.dots {
		@apply bg-gray-100 text-black;
	}
	
	a.page-numbers {
		@apply bg-gray-100 text-black hover:bg-primary hover:text-white;
		@apply no-underline #{!important};
	}
	
	a.next, a.prev {
		@apply rounded-full bg-gray-100 hover:bg-primary hover:text-white;
	}
	
}

.woocommerce-navigation {

}

.woocommerce-pagination {
	.page-numbers {
		@apply border-none #{!important};
	}
	
	li {
		.page-numbers {
		
		}
		
		.current {
		
		}
		.next {
		
		}
		.prev {
		
		}
	}
	
}