.speakers-overview,
.speakers{
  width:100%;
  &:after{
    content: '';
    width: 80%;
    height: 750px;
    position: absolute;
    top: 20%;
    left: 0;
    background: #F5F7FF;
    z-index: -1;
  }
}

@media (max-width:1280px){

}

@media (max-width:1024px){
  .speakers,
  .speakers-overview{
    padding: 5rem 0;
  }
}

@media (max-width:768px){

}

@media (max-width:640px){

}
