.sponsoren{
  width: 100%;
  display: inline-block;
  background: url('../../assets/images/sponsorenbg.jpg') #ededed no-repeat ;
  background-size: cover;
  background-position: top center;
  .inner{
    width:50%;
    padding-left: 9rem;
    padding-right: 9rem;
    display: inline-block;
    background-color: rgb(231 44 94 / 100%);
    p{
      margin-bottom: 2rem;
    }
    &:before{
      content: '';
      height: 100%;
      width: 500px;
      position: absolute;
      background-color: rgb(231 44 94 / 100%);
      left: -500px;
      top: 0;
      z-index: -1;
    }
  }
}

.sponsoren-overview{
  .inner{
    width:50%;
    padding-left: 9rem;
    padding-right: 9rem;
    display: inline-block;
    background-color: rgb(231 44 94 / 100%);
    p{
      margin-bottom: 2rem;
    }
    &:before{
      content: '';
      height: 100%;
      width: 500px;
      position: absolute;
      background-color: rgb(231 44 94 / 100%);
      left: -500px;
      top: 0;
      z-index: -1;
    }
  }
}

.carousel{
  width:100%;
  .grid{
    .logo-wrapper{
      background: white;
      border: 1px solid #dadada;
      img{
        max-height: 80px;
        min-height: 80px;
      }
    }
  }
}

@media (max-width:1280px){

  .sponsoren{
    .inner{
      width: 100% !important;
      padding-left: 4rem !important;
      padding-right: 4rem !important;
      background-color: rgb(231 44 94 / 90%) !important;
      &:before{
        background-color: rgb(231 44 94 / 90%) !important;
      }
      &:after{
        content: '';
        height: 100%;
        width: 500px;
        position: absolute;
        background-color: rgb(231 44 94 / 90%) !important;
        right: -500px;
        top: 0;
        z-index: -1;
      }
    }

    .carousel{
      margin-top: -100px;
    }
  }

}

@media (max-width:1024px){

}

@media (max-width:768px){

  .sponsoren{
    .inner{
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

}

@media (max-width:640px){
  .sponsoren{
    .inner{
      padding: 5rem 0 10rem;
    }
  }
}
