@import "../../../node_modules/swiper/swiper";
@import "../../../node_modules/swiper/modules/navigation/navigation";
@import "../../../node_modules/swiper/modules/pagination/pagination";

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-slide {
	.card {
		@screen lg {
			//@apply mr-4;
		}
		@apply grow;
		@apply mr-0;
	}
}

.swiper-pagination-bullet {
	@apply bg-gray-400 opacity-80;
}

.swiper-pagination-bullet-active {
	@apply bg-primary opacity-100;
}

.card {
	@apply rounded-2xl shadow-lg;
}

section.related ul.products {
	@screen lg {
		display: block !important;
	}
}


.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	height: 100% !important;
}


//.kaartenBlockSwiper .swiper-wrapper{
//	height: 300px !important;
//}

.kaartenBlockSwiper .swiper-slide-active .cardbackground {
	@apply bg-secondary;
	//height: 300px !important;
}


