.sidebar {
	@apply lg:w-1/4 lg:mt-12;

	.sidebar-widget {
		@apply lg:my-8;
		
		&:first-of-type {
			@apply lg:mt-0;
		}
		&:last-of-type {
			@apply lg:mb-0;
		}
		
		.widget-content {
			@extend .card; //rounded-2xl, shadow-lg from swiper.scss
			@apply lg:p-9;
		}
		
		&.sidebar-widget--feedback-company {
			@apply p-6;
		}
		
		&.sidebar-widget--category-tree {
			@apply text-base font-bold lg:p-0;
			
			input[type="checkbox"] {
				display: none;
			}
			
			.product-category__title {
				//@apply cursor-pointer text-base font-bold p-6;
				
				transition: all 0.25s ease-out;
				
				&::after {
					@apply border-primary m-2;
					border-style: solid;
					border-width: 5px 5px 0 0;
					content: " ";
					display: inline-block;
					float: right;
					height: 15px;
					position: relative;
					right: 20px;
					top: -8px;
					transform: rotate(135deg);
					transition: 0.35s ease-in-out;
					vertical-align: top;
					width: 15px;
					
					@media only screen and (max-width: 600px) {
						right: -8px;
						top: -15px;
					}
				}
			}
			
			.product-category__trigger:checked + .product-category__title + .product-subcategories {
				max-height: 3500px;
			}
			
			//.product-category__trigger:checked + &.product-category {
			//	@apply rounded-b-3xl;
			//}
			
			.product-category__trigger:checked + .product-category__title::after {
				transform: rotate(-45deg);
				transition: 0.25s ease-in-out;
			}
			
			.product-category {
				@apply rounded-t-2xl rounded-b-2xl bg-black text-white mb-4 pt-4;
				
				> a {
					@apply inline-block pb-4 px-6;
				}
				
				&.no-subcategories {
					@apply rounded-b-2xl;
					
					.product-category__title::after {
						display: none !important; //hide arrow if no subcategories exist for this category
					}
				}
				
				.product-subcategories {
					@apply w-full;
					
					max-height: 0;
					overflow: hidden;
					transition: 0.25s ease-in-out;
					
					.product-subcategory {
						@apply bg-gray-200 text-black py-2;
						
						a, span {
							@apply no-underline #{!important};
						}
						span {
							@apply px-6;
						}
						
						&:first-of-type {
							@apply mt-0;
						}
						&:last-of-type {
							@apply rounded-b-2xl;
						}
					}
				}
			}
		}
		
		/*
		// Is not actively being used.
		.wp-block-woocommerce-product-categories {
			
			li.wc-block-product-categories-list-item {
				a {
					@apply px-4 no-underline text-base;
					
					span {
						font-weight: bold;
					}
				}
				
			}
			
			ul.wc-block-product-categories-list--depth-0 {
				//top categories
				
				> li {
					@apply rounded-t-2xl bg-black text-white mb-4;
				}
				
				ul.wc-block-product-categories-list--depth-1 {
					//sub categories
					
					li {
						@apply bg-gray-200 text-black py-4;
						
						&:last-child {
							@apply rounded-b-2xl;
						}
						
					}
					
				}
			
			}
		}
		*/
		
		.wp-block-woocommerce-attribute-filter {
			.wc-block-attribute-filter__title {
				@apply text-base text-white bg-black p-6 rounded-2xl;
			}
			
			.wc-block-checkbox-list {
				@apply text-base px-6 pt-2;
			 
				li {
					[type="checkbox"] {
						@apply mr-5 checked:bg-primary; //peer
					}
					
					[type="checkbox"]:checked + label {
						@apply font-bold;
					}
					
					//label {
					//	@apply peer-checked:font-bold;
					//}
				}
			}
		}
		
	}
}

//for sale prices: <del>old price</del> is striketrough, <ins>new price</ins> is underlined
ins {
	@apply no-underline #{!important};
}

.price {
	@apply font-bold text-primary #{!important};
}

.woocommerce-product-details__short-description {
	@apply pb-8;
}

.related, .upsells {
	h2 {
		@apply pt-24 pb-12 ;
	}
}

.wc_add_to_cart_button {
	@apply btn-secondary text-white py-2 font-bold;
}

.wc-tabs-wrapper {
	ul.tabs {
		&::before, ::before, ::after, li { //first is ul
			@apply border-0 shadow-none #{!important};
		}

		li {
			@apply rounded-2xl mr-4 #{!important};
			
			a {
				@apply h5;
				@apply no-underline #{!important};
			}
			
			&.active {
				@apply bg-primary text-white #{!important};
			}
		}
	}
}

.woocommerce-product-attributes {

	th {
		text-align: left;
	}
	
	.woocommerce-product-attributes-item__label, .woocommerce-product-attributes-item__value {
		@apply text-base font-normal not-italic #{!important};
	}
}

.checkout-button {
	@apply btn-secondary;
	
	br {
		display: none;
	}
}

.woocommerce_checkout_place_order {
	@apply btn-secondary;
}

#ship-to-different-address {
	@apply h5 pb-6;
	
	label br {
		display:none;
	}
}

.woocommerce-info { //messages on checkoutpage, blue
//	@apply bg-secondary-light;
}
.woocommerce-message { //added to cart, green
//	@apply bg-secondary-light;
}

//hacky fix.
ul.products {
	@apply grid grid-cols-3 gap-4 #{!important};
	
	&:before {
		@apply hidden #{!important};
	}
}
