@mixin btn {
	@apply relative text-sm transition-all tracking-wider rounded-full;
	@apply no-underline #{!important};
	padding: 0 80px 0 80px;
	display: inline-block;
	color: #fff; //text-color white
	border-radius: 0 !important;
}

@layer base {

	@each $themeColor in $themeColors {
		.btn-#{$themeColor} {
			@apply bg-#{$themeColor};

			&:hover {
				@apply bg-black; //bg-#{$themeColor}-dark;
			}
		}

		.btn-#{$themeColor}-light {
			@apply bg-#{$themeColor}-light;

			&:hover {
				@apply bg-#{$themeColor};
			}
		}

		.btn-#{$themeColor}-dark {
			@apply bg-#{$themeColor}-dark;

			&:hover {
				@apply bg-black; //bg-#{$themeColor};
			}
		}

		.btn-#{$themeColor}-full {
			@apply bg-#{$themeColor};

			&:hover {
				@apply bg-#{$themeColor}-dark;
			}
		}
	}

	.btn-white {
		@apply bg-white text-black;

		&:hover {
			@apply bg-primary;
		}
	}

	.btn-black {
		@apply bg-black text-white;

		&:hover {
			@apply bg-primary;
		}
	}

	.btn-gray {
		@apply bg-gray-100 text-black;

		&:hover {
			@apply bg-primary;
		}
	}

	.btn {
		@include btn;

		@screen lg {
			@apply text-md;
			padding: 0 30px 0 30px;
		}

		&:after{
			position: relative;
			content: '\f054' !important;
			font-family: $fa-font-family;
			margin-left: 1rem;
			font-size: 11px;
			font-weight: 800;
			transition: 0.3s;
			top: -2px;
		}

		&.btn-transparent {
			@apply bg-none;
			padding: 0 0 10px 0 !important;
			border-bottom: 3px solid white;
			&:after {

			}
		}

		&:hover {
			@apply cursor-pointer;
		}

		&.search {
			&:after {
				content: '\f002' !important;
			}

			&.btn-small, &.btn-large{
				&:hover {
					&:after {

					}
				}
			}


		}

		&.btn-tiny {
			@apply text-xs;
			padding: 3px 25px 4px 25px;

			&:after {
				@apply text-xs;
				line-height: 0;
			}

		}


		&.btn-small {
			@apply text-base;
			padding: 12px 20px 14px 20px;

			&:after {
				@apply text-sm;
				line-height: 0.75rem;
			}

			&:hover {
				&:after {
					right: 10px;
				}
			}
		}

		&.btn-large {

			@apply text-md;
			padding: 12px 40px 13px 40px;

			@screen lg {
				@apply text-lg;
				padding: 25px 60px;
			}

			&:after {
				/* @apply text-lg; */
				line-height: 0;
			}

			&:hover {
				&:after {
					right: 0px;
					transition: 0.3s;
				}
			}

			&.reversed-chevron {
				padding: 12px 24px 13px 37px;

				&:after {
					left: 15px;
					right: auto;
					transform: scaleX(-1);
				}

				&:hover {
					&:after {
						left: 10px;
						right: auto;
					}
				}
			}
		}

	}

	select, input {
		&.input-lg {
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
			appearance: none;
			padding-right: 37px;
		}

		+ i.fa {
			float: right;
			/* margin-top: -37px; */
			transform: translateY(-150%);
			margin-right: 15px;
			pointer-events: none;
			font-size: 25px !important;
			color: #d2d3d5;
		}

		+ button.fa-search {
			float: right;
			transform: translateY(-46px);
			margin-right: 15px;
			font-size: 25px !important;
			color: #d2d3d5;
			background-color: transparent;
		}
	}
}
