@mixin btn {
  @apply relative text-sm transition-all tracking-wider rounded-full;
  @apply no-underline #{!important};

  padding: 0 36px 0 20px;
  display: inline-block;
  color: #fff;

  > *:not(i) {
    @apply font-semibold;
  }
}



@layer base {
  @each $themeColor in $themeColors {

    // Normal button
    .btn-#{$themeColor} {
      &.btn-filled {
        @apply bg-#{$themeColor} border border-2 border-#{$themeColor} overflow-hidden z-1 duration-200 relative;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-black opacity-20 absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
        }

        &:hover {
          @apply text-white border-black border-opacity-20;

          &:before {
            @apply w-full;
          }
        }
      }

      &.btn-outline {
        @apply border border-2 border-#{$themeColor} text-#{$themeColor} overflow-hidden z-1 duration-200 relative;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-#{$themeColor} absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
        }

        &:hover {
          @apply text-white;

          &:before {
            @apply w-full;
          }
        }
      }

      &.btn-underline {
        @apply text-#{$themeColor} duration-200 relative;
        padding-left: 0;
        padding-right: 0;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-#{$themeColor} absolute h-0.5 bottom-0 transition-all duration-200 w-full;
          left: 0;
          right: unset;
        }

        &:hover {
          &:before {
            width: 0%;
            right: 0;
            left: unset;
          }
        }
      }
    }


    // Light button
    .btn-#{$themeColor}-light {
      &.btn-filled {
        @apply bg-#{$themeColor} border border-2 border-#{$themeColor} overflow-hidden z-1 duration-200 relative;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-black opacity-20 absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
        }

        &:hover {
          @apply text-white border-black border-opacity-20;

          &:before {
            @apply w-full;
          }
        }
      }

      &.btn-outline {
        @apply border border-2 border-#{$themeColor} text-#{$themeColor} overflow-hidden z-1 duration-200 relative;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-#{$themeColor} absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
        }

        &:hover {
          @apply text-white;

          &:before {
            @apply w-full;
          }
        }
      }

      &.btn-underline {
        @apply text-#{$themeColor}-light duration-200 relative;
        padding-left: 0;
        padding-right: 0;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-#{$themeColor}-light absolute h-0.5 bottom-0 transition-all duration-200 w-full;
          left: 0;
          right: unset;
        }

        &:hover {
          &:before {
            width: 0%;
            right: 0;
            left: unset;
          }
        }
      }
    }


    // Dark button
    .btn-#{$themeColor}-dark {

      &.btn-filled {
        @apply bg-#{$themeColor}-dark border border-2 border-#{$themeColor} overflow-hidden z-1 duration-200 relative;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-black opacity-20 absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
        }

        &:hover {
          @apply text-white border-black border-opacity-20;

          &:before {
            @apply w-full;
          }
        }
      }

      &.btn-outline {
        @apply border border-2 border-#{$themeColor}-dark text-#{$themeColor}-dark overflow-hidden z-1 duration-200 relative;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-#{$themeColor}-dark absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
        }

        &:hover {
          @apply text-white;

          &:before {
            @apply w-full;
          }
        }
      }

      &.btn-underline {
        @apply text-#{$themeColor}-dark duration-200 relative;
        padding-left: 0;
        padding-right: 0;

        &:before {
          content: '';
          z-index: -1;
          @apply bg-#{$themeColor}-dark absolute h-0.5 bottom-0 transition-all duration-200 w-full;
          left: 0;
          right: unset;
        }

        &:hover {
          &:before {
            width: 0%;
            right: 0;
            left: unset;
          }
        }
      }
    }
  }

  // CTA button
  .btn-cta {
    &.btn-filled {
      @apply bg-cta-color border border-2 border-cta-color text-white overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-black opacity-20 absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply text-white border-black border-opacity-20 ;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-outline {
      @apply border border-2 border-cta-color text-cta-color overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-cta-color absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply text-white;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-underline {
      @apply text-cta-color duration-200 relative;
      padding-left: 0;
      padding-right: 0;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-cta-color absolute h-0.5 bottom-0 transition-all duration-200 w-full;
        left: 0;
        right: unset;
      }

      &:hover {
        @apply left-0;
        &:before {
          width: 0%;
          right: 0;
          left: unset;
        }
      }
    }
  }

  // White button
  .btn-white {
    &.btn-filled {
      @apply bg-white border border-2 border-white text-black overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-primary absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply text-white border-primary;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-outline {
      @apply border border-2 border-white text-white overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-white absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply text-primary;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-underline {
      @apply text-white duration-200 relative;
      padding-left: 0;
      padding-right: 0;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-white absolute h-0.5 bottom-0 transition-all duration-200 w-full;
        left: 0;
        right: unset;
      }

      &:hover {
        @apply left-0;
        &:before {
          width: 0%;
          right: 0;
          left: unset;
        }
      }
    }
  }


  // Black button
  .btn-black {
    &.btn-filled {
      @apply bg-black border border-2 border-black text-white overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-primary absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply border-primary;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-outline {
      @apply border border-2 border-black text-black overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-black absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply text-white;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-underline {
      @apply text-black duration-200 relative;
      padding-left: 0;
      padding-right: 0;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-black absolute h-0.5 bottom-0 transition-all duration-200 w-full;
        left: 0;
        right: unset;
      }

      &:hover {
        &:before {
          width: 0%;
          right: 0;
          left: unset;
        }
      }
    }
  }

  // Gray button
  .btn-gray {
    &.btn-filled {
      @apply bg-gray-400 border border-2 border-gray-400 text-black overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-black opacity-20 absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply text-white border-black border-opacity-20;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-outline {
      @apply border border-2 border-gray-400 text-gray-400 overflow-hidden z-1 duration-200 relative;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-gray-400 absolute h-full w-0 left-0 bottom-0 transition-all duration-200;
      }

      &:hover {
        @apply text-white;
        &:before {
          @apply w-full;
        }
      }
    }

    &.btn-underline {
      @apply text-gray-400 duration-200 relative;
      padding-left: 0;
      padding-right: 0;

      &:before {
        content: '';
        z-index: -1;
        @apply bg-gray-400 absolute h-0.5 bottom-0 transition-all duration-200 w-full;
        left: 0;
        right: unset;
      }

      &:hover {
        &:before {
          width: 0%;
          right: 0;
          left: unset;
        }
      }
    }
  }



  .btn {
    @include btn;
    padding: 0.5rem 22px;

    @screen lg {
      @apply text-md;
    }

    //&.btn-transparent {
    //  @apply bg-none;
    //  &:after {
    //    top: 34%;
    //  }
    //}

    &:hover {
      @apply cursor-pointer;

      &:after {
        right: 15px;
      }
    }

    &.disable-chevron {
      padding: 12px 24px;

      &:after {
        display: none !important;
      }
    }

    &.search {
      &:after {
        content: '\f002' !important;
      }

      &.btn-tiny {
        &:hover {
          &:after {
            right: 12px;
          }
        }
      }

      &.btn-small, &.btn-large {
        &:hover {
          &:after {
            right: 15px;
          }
        }
      }


    }

    &.reversed-chevron {
      padding: 0 20px 0 36px;

      @screen lg {
        padding: 0 41px 0 54px;
      }

      &:after {
        left: 20px;
        right: auto;
        transform: scaleX(-1);
      }

      &:hover {
        &:after {
          left: 15px;
          right: auto;
        }
      }
    }


    &.btn-tiny {
      @apply text-xs;
      padding: 3px 25px 4px 18px;

      &:after {
        @apply text-xs;
        line-height: 0;
        right: 12px;
      }

      &.reversed-chevron {
        padding: 3px 18px 4px 25px;

        &:after {
          left: 12px;
          right: auto;
          transform: scaleX(-1);
        }

        &:hover {
          &:after {
            left: 7px;
            right: auto;
          }
        }
      }

      &:hover {
        &:after {
          right: 7px;
        }

      }
    }


    &.btn-small {
      @apply text-sm;
      padding: 9px 17px;

      &:after {
        @apply text-sm;
        line-height: 0.75rem;
        right: 15px;
      }

      &.reversed-chevron {
        padding: 12px 22px 14px 30px;

        &:after {
          left: 15px;
          right: auto;
          transform: scaleX(-1);
        }

        &:hover {
          &:after {
            left: 10px;
            right: auto;
          }
        }
      }

      &.disable-chevron {
        padding: 12px 30px;

        &:after {
          display: none !important;
        }
      }

      &:hover {
        &:after {
          right: 10px;
        }
      }
    }

    &.btn-large {

      @apply text-md;
      padding: 12px 37px 13px 24px;
      border-radius: 28px;

      @screen lg {
        @apply text-lg;
        padding: 16px 50px 17px 32px;
        border-radius: 37px;

        &.reversed-chevron {
          padding: 16px 32px 17px 50px;
        }
      }

      &:after {
        @apply text-lg;
        line-height: 0;
        right: 15px;
      }

      &:hover {
        &:after {
          right: 10px;
        }
      }

      &.reversed-chevron {
        padding: 12px 24px 13px 37px;

        &:after {
          left: 15px;
          right: auto;
          transform: scaleX(-1);
        }

        &:hover {
          &:after {
            left: 10px;
            right: auto;
          }
        }
      }
    }

  }

  select, input {
    &.input-lg {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      padding-right: 37px;
    }

    + i.fa {
      float: right;
      /* margin-top: -37px; */
      transform: translateY(-150%);
      margin-right: 15px;
      pointer-events: none;
      font-size: 25px !important;
      color: #d2d3d5;
    }

    + button.fa-search {
      float: right;
      transform: translateY(-46px);
      margin-right: 15px;
      font-size: 25px !important;
      color: #d2d3d5;
      background-color: transparent;
    }
  }

}