.form {
	[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
		@apply border-0 bg-input-background text-black w-full rounded-2xl p-3 px-6 font-normal;
		
		&:focus{
			@apply shadow-none border-2 outline-none ring-offset-0 ring-offset-primary-light ring-primary-light border-none;
		}
		
		&:read-only {
			outline: none;
			box-shadow: none;
			cursor: default;
		}
		
		&.required {
			@apply text-black;
		}
	}
	
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	textarea {
		height: 9rem !important;
	}
	
	[type='checkbox'], [type='radio'] {
		@apply text-secondary ring-offset-0 outline-none;
	}
	
	[type="submit"] {
		@apply mt-9 h-12;
		@apply bg-secondary leading-relaxed #{!important};
	}
	
	label {
		@apply text-base font-bold;
	}
	
	.wpcf7-acceptance { //, .wpcf7-checkbox
		label {
			@apply font-normal;
		}
	}
	
	.wpcf7-spinner { //strip the mx-6 from it, so that the send-button can be moved almost(*) entirely to the right border.
		margin: 0;
	}
	
	::placeholder {
		@apply text-base text-gray-400;
	}
	
	div {
		@apply mb-4 md:mb-0;
	}
	
}

.mailchimp-form {
	[type='email'] {
		@apply border-0 text-black w-full text-sm p-4;
		
		&:focus{
			@apply shadow-none outline-none;
		}
		
		&:read-only {
			outline: none;
			box-shadow: none;
			cursor: default;
		}
		
		&.required {
			@apply text-black;
		}
	}
}