@mixin form-field {
	@apply bg-input-background border border-[#b3b3b3] text-black w-full rounded-lg p-4 font-normal mt-2;
	
	&:focus{
		@apply shadow-none outline-none border-black ring-0 ring-offset-0 ring-offset-primary-light ring-primary-light;
	}
	
	&:read-only {
		outline: none;
		box-shadow: none;
		cursor: default;
	}
	
	&.required {
		@apply text-black;
	}
}


.form {
	[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
		@include form-field;
	}
	
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	textarea {
		@apply mt-1;
		height: 9rem !important;
	}
	
	[type='checkbox'], [type='radio'] {
		@apply text-secondary ring-offset-0 outline-none mr-4;
	}
	
	[type="submit"] {
		@apply rounded-full; //just in case
		@apply leading-relaxed #{!important};
	}
	
	span.btn {
		@apply flex justify-items-center h-[56px];
		margin-top: 1.95rem;

		&:hover {
		} //to disable the hover when the submit-input itself doesn't change color when hovered.
 	}
	
	label {
		@apply text-base font-bold;
	}
	
	.wpcf7-acceptance { //, .wpcf7-checkbox
		label {
			@apply font-normal;
		}
	}
	
	.wpcf7-spinner { //strip the mx-6 from it, so that the send-button can be moved almost(*) entirely to the right border.
		margin: 0;
	}
	
	::placeholder {
		@apply text-base text-input-placeholder;
	}
	
	div {
		@apply mb-4 md:mb-0;
	}
	
}

.mailchimp-form {
	[type='email'] {
		@apply border-0 text-black w-full text-sm p-4;
		
		&:focus{
			@apply shadow-none outline-none;
		}
		
		&:read-only {
			outline: none;
			box-shadow: none;
			cursor: default;
		}
		
		&.required {
			@apply text-black;
		}
	}
}

[type="checkbox"], label.checkbox {
	&:hover {
		@apply checked:bg-primary cursor-pointer;
	}
}