.flip-horizontal {
  transform: scaleX(-1);
}

body {

  @screen lg {
    @apply text-xl;
  }

}

img {
  max-width: 100%;
  height: auto;
}

// Hide the cookiebot and recaptcha sticky badges from page
#CookiebotWidget,
.grecaptcha-badge {
  display: none;
}