.flip-horizontal {
  transform: scaleX(-1);
}

body {

  @screen lg {
    @apply text-xl;
  }

}

img {
  max-width: 100%;
  height: auto;
}

// Hide the cookiebot and recaptcha sticky badges from page
#CookiebotWidget,
.grecaptcha-badge {
  display: none;
}

// Hides the texts but allows screen readers to read the text. Usefull for image links
.screen-reader-only {
  clip: rect(0 0 0 0);
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Disable the underline on an a-class when only requiring the underline on an inner element, such as a span, instead of the a-tag itself which may contain e.g. an icon.
// The name "no-underline" with dash is the same as the Tailwind class with the same effect.
a:not(.no-underline), a>span:not(.btn, .icon) {
	@apply underline hover:text-primary cursor-pointer;
}
a.no-underline,
	.woocommerce-LoopProduct-link {
	text-decoration-line: none !important;
}
