/* Dinkla home styling */
.home {

	#header {
		z-index: 1;
	}

	#kaarten {
		z-index: 2;

		.block-content {
			margin-top: -280px !important;
		}

		.card-item:hover {
			.card-background {
				@apply bg-secondary;
			}

			.card-overlay {
				@apply opacity-0;
			}

			.page-icon, .page-title {
				@apply text-primary;
			}
		}
	}


	#usps {
		padding-bottom: 400px !important;
		margin-top: -70px !important;

		.custom-layout {
			@apply gap-x-8;
		}

		.USP-item div {
			@apply p-0;
		}

		div i {
			@apply w-full aspect-square justify-center items-center rounded-full border border-2 border-primary;
			display: flex;
			position: relative;
		}

		p {
			@apply font-bold;
		}

		/* div i:after {
          @apply h-[1px] w-[100px] bg-primary absolute right-0 translate-y-1/2;
          content: '';
        } */
	}

	#afbeelding-tekst {
		@apply -translate-y-1/2;

		@media only screen and (min-width: 1024px) {
			padding-top: 0 !important;
		}

		@media only screen and (max-width: 1023px) {
			padding-top: 488px !important;
		}

		.custom-styling {
			@apply py-0;
		}

		.text-image {
			gap: 0 !important;
		}

		.text {
			@apply bg-white px-0 md:px-20 py-8 md:py-20 md:shadow-xl md:rounded-[20px] w-full z-20;

			@media only screen and (min-width: 1024px) {
				margin-left: -80px !important;
			}
		}

		.image {
			@apply w-full;

			img {
				@media only screen and (max-width: 1023px) {
					border-radius: 10px 0px 0px 100px !important;
				}

				@media only screen and (min-width: 1024px) {
					border-radius: 10px 10px 10px 234px !important;
				}
			}
		}

		.flex.flex-col {
			@apply items-center;
		}
	}

	#werknemers {

		@media only screen and (max-width: 1023px) {
			margin-top: -850px !important;
		}

		@media only screen and (min-width: 1024px) {
			margin-top: -300px !important;
		}

		.werknemer-item {
			color: white !important;
		}
	}

	#titel-tekst {
		border-radius: 0px 0px 200px 0px !important;
		padding: 100px 0px !important;
		@apply -translate-y-1/2;

		@media only screen and (max-width: 1023px) {
			margin-top: -80px;
		}

		@media only screen and (min-width: 1024px){
			margin-top: 100px;
		}

		div.inset-0 {
			border-radius: 0px 0px 200px 0px !important;
		}

		.custom-margin {
			margin-top: 200px !important;
		}
	}

	#activiteiten {
		margin-top: -300px !important;
	}

	/* h2 {
      margin-left: 110px !important;
    } */


	#call-to-action {
		.cta-block {
			@media only screen and (max-width: 638px){
				border-radius: 0px;
			}
			@media only screen and (min-width: 639px){
				border-radius: 10px 0px 0px 10px;
			}
		}

		.custom-width {
			width: calc(100vw / 2);
		}
	}
}


// Other blocks

#prijs-pakketten {
	a .btn-filled {
		@apply text-primary;
	}

	a .btn-filled:hover {
		@apply text-white;
	}
}


