/* Dinkla home styling */
.home {

	#header {
		z-index: 1;
	}

	#kaarten {
		z-index: 2;

		@media only screen and (max-width: 767px) {
			padding-bottom: 0;
		}

		.block-content {

			@media only screen and (max-width: 767px) {
				margin-top: 0px;
			}

			@media only screen and (min-width: 768px) and (max-width: 1023px) {
				margin-top: -200px;
			}

			@media only screen and (min-width: 1024px) {
				margin-top: -280px;
			}
		}

		.card-item:hover {
			.card-background {
				@apply bg-secondary;
			}

			.card-overlay {
				@apply opacity-0;
			}

			.page-icon, .page-title {
				@apply text-primary;
			}
		}
	}


	#usps {

		@media only screen and (max-width: 767px) {
			padding-bottom: 250px;
			margin-top: -20px;
		}

		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			padding-bottom: 300px;
			margin-top: -20px;
		}

		@media only screen and (min-width: 1024px) {
			padding-bottom: 400px;
			margin-top: -70px;
		}

		.custom-layout {
			@apply gap-x-8;
		}

		.USP-item div {
			@apply p-0;
		}

		div i {
			@apply w-full aspect-square justify-center items-center rounded-full border border-2 border-primary;
			display: flex;
			position: relative;
		}

		p {
			@apply font-bold;
		}

		/* div i:after {
          @apply h-[1px] w-[100px] bg-primary absolute right-0 translate-y-1/2;
          content: '';
        } */
	}

	#afbeelding-tekst {
		@apply -translate-y-1/2;

		@media only screen and (max-width: 1023px) {
			padding-top: 488px;
		}

		@media only screen and (min-width: 1024px) {
			padding-top: 0;
		}

		.custom-styling {
			@apply py-0;
		}

		.text-image {
			gap: 0 !important;
		}

		.text {
			@apply bg-white px-0 lg:px-20 py-8 lg:py-20 lg:shadow-xl lg:rounded-[20px] w-full z-20;

			@media only screen and (min-width: 1024px) {
				margin-left: -80px !important;
			}
		}

		.image {
			@apply w-full;

			img {
				@media only screen and (max-width: 1023px) {
					border-radius: 10px 0px 0px 100px !important;
				}

				@media only screen and (min-width: 1024px) {
					border-radius: 10px 10px 10px 234px !important;
				}
			}
		}

		.flex.flex-col {
			@apply items-center;
		}
	}

	#werknemers {

		@media only screen and (max-width: 1023px) {
			margin-top: -670px;
		}

		@media only screen and (min-width: 1024px) {
			margin-top: -250px;
		}

		.werknemer-item {
			color: white;
		}
	}

	#titel-tekst {
		border-radius: 0px 0px 200px 0px !important;
		padding: 100px 0px !important;
		@apply -translate-y-1/2;

		@media only screen and (max-width: 767px) {
			margin-top: -10px;
		}

		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			margin-top: 50px;
		}

		@media only screen and (min-width: 1024px) {
			margin-top: 100px;
		}

		div.inset-0 {
			border-radius: 0px 0px 200px 0px !important;
		}

		.custom-margin {
			margin-top: 200px !important;
		}
	}

	#activiteiten {

		@media only screen and (max-width: 376px) {
			margin-top: -400px;
		}

		@media only screen and (min-width: 377px) and (max-width: 767px) {
			margin-top: -330px;
		}

		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			margin-top: -230px;
		}

		@media only screen and (min-width: 1024px) {
			margin-top: -310px;
		}

		@apply pb-8 md:pb-16
	}


	#call-to-action {
		.cta-block {
			@media only screen and (max-width: 638px) {
				border-radius: 0px;
			}
			@media only screen and (min-width: 639px) {
				border-radius: 10px 0px 0px 10px;
			}
		}

		.custom-width {
			width: calc(100vw / 2);
		}
	}
}



// Andere blokken

#prijs-pakketten {
	a .btn-filled {
		@apply text-primary;
	}

	a .btn-filled:hover {
		@apply text-white;
	}
}


