@layer base {
	
	p {
		@apply text-base ;
		line-height: 1.875rem;
		
		@screen lg {
			line-height: 3rem;
		}
		
		a {
			@apply underline cursor-pointer;
		}
	}
	
	ul, ol {
		li {
			line-height: 1.875rem;
			
			@screen lg {
				line-height: 2.5rem;
			}
		}
	}
	
	h1, .h1 {
		@apply text-2xl font-bold break-words;
		line-height: 1.2 !important;
		
		@screen lg {
			@apply text-4xl;
		}
	}
	
	h2, .h2 {
		@apply text-xl font-bold break-words;
		
		@screen lg {
			@apply text-3xl;
		}
	}
	
	h3, .h3 {
		@apply text-xl font-head font-semibold break-words;
		
		@screen md {
			@apply text-lg;
		}
		
		@screen lg {
			@apply text-lg font-bold;
		}
		
		@screen xl {
			@apply text-2xl;
		}
	}
	
	h4, .h4 {
		@apply text-lg font-head font-semibold break-words;
		
		@screen md {
			@apply text-md;
		}
		@screen xl {
			@apply text-2xl font-bold;
		}
	}
	
	h5, .h5 {
		@apply text-md font-head font-bold break-words;
		
		@screen md {
			@apply text-md;
		}
		
		@screen xl {
			@apply text-lg;
		}
	}
	
	h6, .h6 {
		@apply text-md font-head font-semibold break-words;
		
		@screen md {
			@apply text-md;
		}
		
		@screen xl {
			@apply text-lg font-bold;
		}
	}
	
}
