@layer base {

  p {
    line-height: 1.875rem;

    @screen lg {
      line-height: 3rem;
    }
  }

  h1, .h1 {
    @apply text-white text-2xl font-bold break-words text-shadow-lg ;
    line-height: 1.2 !important;

    @media (min-width: 1024px) {
      @apply text-4xl;
    }
  }

  h2, .h2 {
    @apply text-white text-base font-normal break-words text-shadow-lg ;

    @media (min-width: 1024px) {
      @apply text-lg font-bold;
    }
  }

  h3, .h3 {
    @apply text-xl text-primary font-head font-semibold break-words;

    @media (min-width: 768px) {
      @apply text-lg;
    }

    @media (min-width: 1024px) {
      @apply text-lg font-bold
    }

    @media (min-width: 1536px) {
      @apply text-2xl;
    }

  }

  h4, .h4 {
    @apply text-lg text-secondary font-head font-semibold break-words;

    @media (min-width: 768px) {
      @apply text-md;
    }
    @media (min-width: 1536px) {
      @apply text-2xl font-bold;
    }
  }

  h5, .h5 {
    @apply text-md text-primary font-head font-bold  break-words;

    @media (min-width: 768px) {
      @apply text-md;
    }
    @media (min-width: 1536px) {
      @apply text-lg;
    }
  }

  h6, .h6 {
    @apply text-md text-secondary font-head font-semibold break-words;

    @media (min-width: 768px) {
      @apply text-md;
    }
    @media (min-width: 1536px) {
      @apply text-lg font-bold;
    }
  }

  ul, ol {
    li {
      line-height: 1.875rem;

      @screen lg {
        line-height: 2.5rem;
      }
    }
  }
}
